/* Geist Sans, self-hosted (SIL OFL 1.1 — see fonts/geist-sans/LICENSE.txt).
   The app loads this same family at runtime via next/font/google's Geist();
   src/styles.css's --font-sans references it by family name, so the design
   system ships its own copy rather than depending on the host app's loader. */
@font-face {
  font-family: "Geist Sans";
  src: url("./geist-sans/Geist-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
